* {
    margin: 0;
    padding: 0;
    
}

::-webkit-scrollbar {
    width: 10px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #3f3f3f; 
  }
  
  ::-webkit-scrollbar-track {
    background-color: #262626; 
  }

:root {
    --radius: 8px;
    --bgcolor: #121212;
    
}





body {
    background-color: black;
}

.sections {
    display: flex;
    position: absolute;
    
    max-width: 99vw;
    max-height: 99vh;

}

.filter {
    filter: invert(1);
}


/* Left Side Of website */
.left_section {
    min-width: 22vw;
    min-height: 98vh;
    margin: 8px;
    /* border: 0.1px solid greenyellow; */
    background-color: #000000;
    overflow: hidden;
}

.left_top {
    height: 156px;
    /* border: 0.1px solid white; */
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #121212;
    border-radius: 8px;
}

.left_middle {
    position: relative;
    height: 100%;
    margin-top: 6px;
    border-radius: var(--radius);
    background-color: #121212;
    display: flex;
    min-width: vw;
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */

}

.labimg {

    height: 24px;
    width: 24px;

    filter: invert(1);
}

.logo {
    filter: invert(1);
    width: 82px;
    margin: 16px 5px 6px 22px;
    height: 28px;
}

.li-of-ul-1{
    display: flex;
    gap: 10px;
    align-items: center;
}

.ulli {
    margin-top: 10px;
    margin-left: 22px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
}


.lab-logo-name{
    display: flex;
    gap: 10px;
    align-items: center;
}

.labcontainer{
    margin-top: 10px;
    margin-left: 22px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.home {
    width: 21px;
    height: 21px;
}

.search {
    width: 24px;
    height: 24px;

}

.labcontainer {
    margin-top: 20px;
    height: 40px;
    display: flex;
    color: white;
    list-style: none;
}

.songlist ul li{
    list-style: none;
    color: white;
    margin-left: 18px;
    display: flex;
    padding: 10px;
    border: 1px solid rgb(76 76 76 / 63%);
    border-radius: 6px;
    justify-content: space-between;
    align-items: center;
    /* gap: 20px; */
    cursor: pointer;
    list-style: decimal;
}
.songlist{
    height: 500px;
    overflow: auto;
}

.song{
    color: white;
    margin-left: 18px;
    display: flex;
    padding: 10px;
    border: 1px solid rgb(137, 137, 137);
    border-radius: 6px;
    justify-content: space-between;
    align-items: center;
    /* gap: 20px; */
    list-style: decimal;
}
.song-artist{
    display: flex;
    flex-direction: column;

}
.song-container{
    color: #f7f7f7;
    display: flex;
    gap: 24px;
    margin: 7px 38px 7px 16px;
    flex-direction: column;
}

#play{
    height: 35px;

}
.playsvg{
    /* filter: invert(1); */
    height: 35px;
    
}
.music-svg{
    height: 35px;
    cursor: pointer;
}
.playprevious{
    height: 35px;
    cursor: pointer;
}
.playnext{
    height: 35px;
    cursor: pointer;
} 
.playbaricons{
    width: 100px;
    margin-right:260px ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.songtime, .songtime{
    color: white;
}











/* right side of website */
.right_section {
    min-width: 75.85vw;
    /* min-height: 80vh; */
    margin: 6px;
    /* border: 0.1px solid greenyellow; */
    background-color: black;
    overflow: hidden;
}

.nav {
    height: 64px;
    /* border: 0.1px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right_middle {
    height: 620px;

}

/* Right Top Section Nav */

.arrbtn {
    height: 10px;
}

.arr_and_btn {
    filter: invert(1);
    height: 10px;
    display: flex;
    margin: 10px;

}

.arrbuttons {
    display: flex;
    gap: 35px;
    /* background-color: white; */
    /* margin: 23px; */
    padding: 20px;
    
    
}
.signup-btn{
    background-color: black;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;

}
.login-btn{
    background-color: white;
    width: 113px;
    height: 48px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    
}


/* Right middle */

.playlist {
    min-height: 50vh;
    min-width: 70vw;
    background-image: linear-gradient(to bottom, rgb(34 32 32) , rgb(0, 0, 0));


}

.heading {
    margin-left: 24px;
    font-size: 24px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #f7f7f7;
}

.cards-container {
    height: 65vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* background: #b0a5a5; */
}

.card1 {
    position: relative;
    top: 10px;
    margin-left: 12px;
    /* padding: 1px; */
    min-height: 27.32vh;
    width: 9.32vw;
    display: flex;
    background-image: linear-gradient(to bottom, rgb(21, 21, 21), rgb(34 32 32) );
    flex-direction: column;
    align-items: center;
    /* border-radius: 7px; */
    justify-content: flex-start;
    border-radius: 10px;
}


.coverimg {
    margin:15px 15px ;
    width: 8vw;
    /* max-height: 15.87vh; */
    
    
}
.song-info{
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    left: -5px;
}
h4{
    color: white;
    margin: 0px 15px;
    /* display: flex; */
    
}
.song-info p {
    color: gray;
    margin: 11px;
    width: auto;
    padding: 5px;
    height: fit-content;
}

.playbar{
    color: white;
    background-color: rgb(42, 42, 42);
    position: absolute;
    border-radius: 7px;
    bottom: 0px;
    height: 60px;
    width: 75vw;
}
.playbaricons{
    height: 48px;
   
}
.seekbar{
    position: relative;
    bottom: 1px;
    background-color: white;
    height: 7px;
    border-radius: 5px;
    cursor: pointer;
}
.circle{
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    bottom: 50%;
    left: 0%;
    transition: left 0.5s;
    cursor: pointer;
}
.songinformation-display{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;

}
.songname{
    width: 500px;
}
.songtime{
    width: 93px;
}







/* Buttom section of website */

.buttom {
    height: 66px;
    /* border: 1px solid white; */
    width: 76%;
    position: absolute;
    bottom: 6px;
    margin-left: 9px;
    background-color: rgb(203, 159, 203);
}