
 
*{
    margin: 0;
    padding: 0;

}

:root {
    --radius:8px;
    --bgcolor:#121212;

}
    



body{
    background-color: black;
}

.sections{
    display: flex;
    position: absolute;
    
}

.filter{
    filter: invert(1);
}


/* Left Side Of website */
.left_section{
    min-width:22vw;
    min-height: 98vh;
    margin: 8px;
    /* border: 0.1px solid greenyellow; */
    background-color: black;
    overflow: hidden;
}
.left_top{
    height: 156px;
    border: 0.1px solid white;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #121212;
    border-radius: 8px;
}

.left_middle{
    position: relative;
    height: 100%;
    margin-top: 6px;
    border-radius: var(--radius);
    display: flex;
    min-width:vw;
    border: 1px solid white;

}
.labimg{
    
    height: 24px;
    width: 24px;
    
    filter: invert(1);
}

.logo{
    filter: invert(1);
    width: 82px;
    margin: 16px 5px 6px 22px;
    height: 28px;
}
ul li{
    display: flex;
    gap: 10px;
    align-items: center;
}
ul{
    margin-top: 10px;
    margin-left: 22px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.home{
    width: 21px;
    height:21px;
}
.search{
    width: 24px;
    height: 24px;
    
}
.labcontainer{
    margin-top: 20px;
    height: 40px;
    display: flex;
    color: white;
    list-style: none;
}









/* right side of website */
.right_section{
    min-width:75.85vw;
    /* min-height: 80vh; */
    margin: 6px;
    border: 0.1px solid greenyellow;
    background-color: black;
    overflow: hidden;
}
.nav{
    height: 64px;
    border: 0.1px solid white;
}
.right_middle{
    height: 620px;

}

/* Buttom section of website */

.buttom{
    height: 66px;
    border: 1px solid white;
    width: 99%;
    position:absolute;
    bottom: 6px;
    margin-left: 9px;
    background-color: rgb(203, 159, 203);
}